<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
</head>
<body>
	<section>
			<div class="card mr-3 ml-2">
				<div class="card-body">
				<h1 class="text-center">Add Contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
					<div class="col-md-8 offset-md-2">
					
					
					<form enctype="multipart/form-data" th:object="${contact}" method="post" th:action="@{/user/formProcess}" class="mt-2">
	 <div class="input-group mt-3">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fa fa-plus"></i></div>
    </div>
    <input type="text" class="form-control" id="username" name="name" placeholder="Enter Username">
  </div>
   <div class="input-group mt-3">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fa fa-cross"></i></div>
    </div>
    <input type="text" class="form-control" id="secondName" name="secondName" placeholder="Enter Nick Username">
  </div>
   <div class="input-group mt-3">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fa fa-phone"></i></div>
    </div>
    <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter Phone number here">
  </div>
  <div class="input-group mt-3">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fa fa-cross"></i></div>
    </div>
    <input type="email" class="form-control" id="email" name="emailId" placeholder="Enter email here">
  </div>
  
	<div class="input-group mt-3">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fa fa-plus"></i></div>
    </div>
    <input type="text" class="form-control" id="work" name="work" placeholder="Enter work here">
  </div>
  
  	<div class="input-group mt-3">
     <textarea class="form-control" id="description" name="discription" rows="10" placeholder="Enter Something about you here"></textarea>
  </div>
  
  	<div class="custom-file mt-1">
     <input type="file" name="profileImage" >
  </div>
  <div class="conatiner text-center">
  <button class="btn btn-outline-primary ">Save Contact</button>
  </div>
  
	
					</form>
					</div>
					</div>
				</div>
				</div>
			</div>
			
	</section>
	
</body>
</html>