<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Registration Page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">

					<div class="my-card m-1">
					<div  th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
  					<p th:text="${session.message.content}"></p>
<!--   					<th:block th:text="${session.removeAttribute('message')}"></th:block> -->
  								
					</div>			
					
					<div class="text-center">
					<img  style="width:50px" th:src="@{../image/icons/contract.png}" alt="No Image Is There" />
					</div>
						<h1 class="text-center">Register Here</h1>
						<form action="" th:action="@{/do-register}" method="post" th:object="${user}">
							<div class="form-group">
								<label for="name">Name</label>
								 <input type="text"
									class="form-control" id="name" aria-describedby="emailHelp"
									th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
									 name="name" th:value="${user.name}"
									placeholder="Enter name">
									
									 <div  class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}">
        									
      									</div>

							</div>

							<div class="form-group">
								<label for="email">Email</label> <input type="email"
									class="form-control" id="email" aria-describedby="emailHelp"
									name="email" th:value="${user.email}"
									placeholder="Enter email">

							</div>
							<div class="form-group">
								<label for="password">Password</label> <input type="password"
									name="password" class="form-control" th:value="${user.password}" id="password" aria-describedby="password"
									
									placeholder="Enter password">

							</div>
							<div class="form-group">
								<label for="about">Description</label>
								<textarea  name="about" th:value="${user.about}" class="form-control" id="about" rows="3"></textarea>
							</div>
							<div class="form-group form-check text-center">
								<input type="checkbox" class="form-check-input"
									name="agrement"
									id="agrement"> <label class="form-check-label"
									for="agrement">Check me out</label>
							</div>
							<div class="container text-center">
								<button type="submit" class="btn btn-primary">Submit</button>
								<button type="reset" class="btn btn-warning">Reset</button>
							</div>

						</form>

					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>